.clear:after {
  content: "";
  display: block;
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eaeaea;
}
body nav {
  z-index: 111;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  font-size: 16px;
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
body nav .menuItem {
  float: left;
  line-height: 60px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}
body nav .menuItem:hover {
  border-bottom: 1px solid;
  transition: 0.3s;
}
body nav .menuItem:hover .border {
  width: 100%;
  transition: 0.3s;
}
body nav .menuItem .border {
  transition: 0.3s;
  width: 0;
  height: 1px;
  background-color: white;
}
body main .container {
  background-color: white;
  padding: 20px;
  margin: 45px 30px 0 30px;
}
body main .container:first-child {
  padding: 0;
  margin: 0;
  position: relative;
}
body main .container .image {
  width: 100%;
  height: 90vh;
  background-image: url("../img/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .container .title {
  font-size: 22px;
  color: #3a3939;
}
body main .container .titleImage {
  position: absolute;
  top: 30%;
  width: 50%;
  left: 27%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
