<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arsen Hajyan</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="fonts/webfontkit-20170131-092713/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="fonts/metropolis/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="adminContent">
    <div class="biographyPart">
        <div class="bigTitle">Biography</div>
        <div class="littleTitle">Title 1</div>
        <textarea class="small" name="" id="title1" ></textarea>
        <div class="littleTitle">Content 1</div>
        <textarea class="big" name="" id="content1" ></textarea>
        <div class="littleTitle">Title 2</div>
        <textarea class="small" name="" id="title2"></textarea>
        <div class="littleTitle">Content 2</div>
        <textarea class="big" name="" id="content2" ></textarea>
    </div>
    <div class="imagesPart">
        <div class="bigTitle">Images</div></br>
        <img src="images/biography/biography1.jpg" alt="">
        <img src="images/biography/biography2.jpg" alt="">
        <img src="images/biography/biography3.jpg" alt="">
        <img src="images/biography/biography4.jpg" alt="">
        <img src="images/biography/biography5.jpg" alt="">
        <img src="images/biography/biography1.jpg" alt="">
    </div>
    <div class="eventsPart">
        <div class="bigTitle">Events</div>

    </div>
    <div class="videoPart">
        <div class="bigTitle">Videos</div>

    </div>
</div>
</body>
</html>
