<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arsen Hajyan</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="fonts/webfontkit-20170131-092713/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="fonts/metropolis/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/OwlCarousel2-2.2.0/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="lib/OwlCarousel2-2.2.0/dist/assets/owl.theme.default.css" />
    <link type="text/css" rel="stylesheet" href="lib/lightgallery/dist/css/lightgallery.css" />
</head>
<body>
<main>
    <div class="container" id="home">
        <div class="image"></div>
        <div class="menuPart">
            <div class="menuIcon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="text">
            <div class="titleImage">Arsen Hajyan</div>
            <div class="otherText">Lorem ipsum dolor sit amet</div>
            <div class="socialPart clear">
                <img src="images/play.png" alt="play">
                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="navigation w0">
            <!--<div class="name">Arsen Hajyan</div>-->
            <div class="menuClose">
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <nav class="clear">
                <div class="navItem" data-id="home">Home<span></span></div>
                <div class="navItem" data-id="bio">Biography<span></span></div>
                <div class="navItem" data-id="events">Events<span></span></div>
                <div class="navItem" data-id="videos">Videos<span></span></div>
                <div class="navItem" data-id="contact">Contact<span></span></div>
                <!--<div class="social clear">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>-->
            </nav>
        </div>
    </div>
    <div class="container whiteBackground" id="bio">
        <div class="title">Biography</div>
        <div class="biographyContent clear">
            <div class="textBlockContent">
                <div class="block">
                    <div class="blockTitle">What is Lorem Ipsum?</div>
                    <div class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries,but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="block">
                    <div class="blockTitle">Why do we use it?</div>
                    <div class="content">It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-
                        less normal distribution of letters, as opposed to using 'Content here, content here',
                        making it look like readable English.
                    </div>
                </div>
            </div>
            <img class="biographyImage" src="images/2.jpg" alt="biography">
        </div>
        <div class=" biographyCarousel owl-carousel owl-theme">
            <div class="itemPart"><img src="images/biography/biography1.jpg" alt=""></div>
            <div class="itemPart"><img src="images/biography/biography2.jpg" alt=""></div>
            <div class="itemPart"><img src="images/biography/biography3.jpg" alt=""></div>
            <div class="itemPart"><img src="images/biography/biography4.jpg" alt=""></div>
            <div class="itemPart"><img src="images/biography/biography5.jpg" alt=""></div>
            <div class="itemPart"><img src="images/biography/biography1.jpg" alt=""></div>
        </div>
    </div>
    <div class="container events clear" id="events">
        <div class="title">Events</div>
        <div class="twoBlock clear">
            <div class="eventBlock clear">
                <img class="eventImage" src="images/events/event1.jpg" alt="">
                <div class="eventContent">
                    <div class="eventTitle">Event1</div>
                    <div class="eventText">
                        <div class="textBlock">Date: 02.05.2017</div>
                        <div class="textBlock">Time: 15:30</div>
                        <div class="textBlock">Location: Erevan</div>
                    </div>
                </div>
            </div>
            <div class="eventBlock clear">
                <img class="eventImage" src="images/events/event1.jpg" alt="">
                <div class="eventContent">
                    <div class="eventTitle">Event1</div>
                    <div class="eventText">
                        <div class="textBlock">Date: 02.05.2017</div>
                        <div class="textBlock">Time: 15:30</div>
                        <div class="textBlock">Location: Erevan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twoBlock clear">
            <div class="eventBlock clear">
                <img class="eventImage" src="images/events/event1.jpg" alt="">
                <div class="eventContent">
                    <div class="eventTitle">Event1</div>
                    <div class="eventText">
                        <div class="textBlock">Date: 02.05.2017</div>
                        <div class="textBlock">Time: 15:30</div>
                        <div class="textBlock">Location: Erevan</div>
                    </div>
                </div>
            </div>
            <div class="eventBlock clear">
                <img class="eventImage" src="images/events/event1.jpg" alt="">
                <div class="eventContent">
                    <div class="eventTitle">Event1</div>
                    <div class="eventText">
                        <div class="textBlock">Date: 02.05.2017</div>
                        <div class="textBlock">Time: 15:30</div>
                        <div class="textBlock">Location: Erevan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container videos" id="videos">
        <div class="title">Videos</div>
        <div>
            <div class=" videoCarousel owl-carousel owl-theme" id="video-gallery">
                <div data-src=images/biography/biography1.jpg>
                    <a class="itemPart" href="https://www.youtube.com/watch?v=meBbDqAXago">
                        <img class="itemPart" src="images/biography/biography1.jpg"/>
                    </a>
                </div>
                <div data-src=images/biography/biography2.jpg>
                    <a class="itemPart" href="https://www.youtube.com/watch?v=meBbDqAXago">
                        <img class="itemPart" src="images/biography/biography2.jpg"/>
                    </a>
                </div>
                <div data-src=images/biography/biography3.jpg>
                    <a class="itemPart" href="https://www.youtube.com/watch?v=meBbDqAXago">
                        <img class="itemPart" src="images/biography/biography3.jpg"/>
                    </a>
                </div>

                <!--<div class="itemPart"><img src="images/biography/biography1.jpg" alt=""></div>
                <div class="itemPart"><img src="images/biography/biography2.jpg" alt=""></div>
                <div class="itemPart"><img src="images/biography/biography3.jpg" alt=""></div>
                <div class="itemPart"><img src="images/biography/biography4.jpg" alt=""></div>
                <div class="itemPart"><img src="images/biography/biography5.jpg" alt=""></div>
                <div class="itemPart"><img src="images/biography/biography1.jpg" alt=""></div>-->
            </div>
        </div>
    </div>
    <div class="container contact clear" id="contact">
        <div class="title">Contact</div>
        <div class="contactMe">
            <form class="clear">
                <div class="contactsPart">
                    <div><input type="text" placeholder="Name"><span></span></div>
                    <div><input type="text" placeholder="E-mail"><span></span></div>
                    <div><input type="text" placeholder="Title"><span></span></div>
                </div>
                <div class="messagePart">
                    <div class="messageBlockTitle">Message</div>
                    <div class="textareaPart">
                        <textarea name="messageText" id=""></textarea>
                        <button>Send</button>
                    </div>

                </div>
            </form>
        </div>
        <div class="contactInfo clear">
            <div class="block">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>arsen.hajyan@gmail.com</span>
            </div>
            <div class="block">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+(374)-55264841</span>
            </div>
            <div class="block">
                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
</main>
<footer class="clear">
    <div class="floatLeft copyright"> Arsen Hajyan &copy; 2017</div>
    <div class="floatRight footerMenu clear">
        <div class="footerItem">Home</div>
        <div class="footerItem">Biography</div>
        <div class="footerItem">Events</div>
        <div class="footerItem">Videos</div>
        <div class="footerItem">Contact</div>
    </div>
</footer>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/OwlCarousel2-2.2.0/dist/owl.carousel.min.js"></script>
<script src="lib/lightgallery/dist/js/lightgallery.js"></script>
<script src="lib/lg-thumbnail/dist/lg-thumbnail.min.js"></script>
<script src="lib/lg-fullscreen/dist/lg-fullscreen.min.js"></script>
<script src="javascripts/script.js"></script>
</body>
</html>
